-f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
--pre
torch

-f https://github.com/llvm/torch-mlir/releases/expanded_assets/snapshot-20220913.595
--pre
torch-mlir


sympy
scipy
ipython
jupyter
matplotlib
#mystic
#diofant
wolframclient
cvxpy
cvxopt
numpy
ncls
z3-solver
islpy
islplot
git+https://github.com/tobiasgrosser/islplot.git
#sympy_plot_backends

# you probably want to conda install -c conda-forge pyscipopt
# pyscipopt